<%
const { type,name, label, placeholder, items, note, counter, value, t, defaultOption, options, required, step = 0 } = params;

        switch(type){
case "selector": %>
<div class="input-row input-<%- type %> input-step" data-step="<%- step %>">
  <label for="form-<%- name %>"><%- t(label) %></label>
  <div class="input-selector">
    <%- items.map(item => `<button class="item" data-value="${item.key}">${t(item.label)}</button>`).join("\n") %>
  </div>
  <input id="form-<%- name %>" autocomplete="false" type="hidden" name="<%- name %>">
</div>
<%
    break;
case "tel": %>
<div class="input-row input-<%- type %> input-step" data-step="<%- step %>">
  <label for="form-<%- name %>">
    <input id="form-<%- name %>" autocomplete="off" placeholder=" " type="tel" name="<%- name %>" value="<%- value %>">
    <span class="label"><%- t(label) %></span>
  </label>
  <div class="message-error error"></div>
</div>
<%
    break;
case "select": %>
<div class="input-row input-<%- type %> input-step" data-step="<%- step %>">
  <div class="select-wrapper">
    <select class="form-select" name="<%- name %>" id="form-<%- name %>">
      <option value="" selected disabled><%- t(placeholder)  %></option>
      <%- options.map(item => `<option value="${item.value}">${t(item.label || item.value)}</option>`).join("\n") %>
    </select>
    <img src="https://images.samsung.com/is/content/samsung/assets/kz_ru/offer/wind-free-promo/open.svg" class="select-open" alt="открыть">
  </div>
  <div class="message-error error"></div>
</div>
<%
    break;
case "radio": %>
<div class="input-row input-<%- type %> input-step" data-step="<%- step %>">
  <h5><%- t(label) %></h5>
  <%- options.map(item => `<div class="input-row"><input type="radio" id="${item.label}" name="${name}" value="${t(item.value)}">&nbsp;<label for="${item.label}">${t(item.label || item.value)}</label></div>`).join("\n") %>
  <div class="message-error error"></div>
</div>
<%
    break;
case "textarea": %>
<div class="input-row input-<%- type %> input-step" data-step="<%- step %>">
  <textarea id="form-<%= name %>" resize="false" placeholder="<%- t(label) %>" name="<%- name %>"></textarea>
  <%- counter ? '<div class="text-counter text-right"></div>' : ''%>
  <div class="message-error error"></div>
</div>
<%
    break;
case "checkbox": %>
<div class="input-row input-<%- type %> input-step" data-step="<%- step %>">
  <div class="checkbox">
    <input id="form-<%= name %>" autocomplete="off" type="<%- type %>" name="<%- name %>" placeholder=" "><label for="form-<%- name %>"><%- t(label) %></label>
  </div>
  <div class="message-error error"></div>
</div>
<%
    break;
case "checkboxes": %>
<div class="input-row input-<%- type %> input-step" data-step="<%- step %>">
  <h5><%- t(label) %></h5>
  <%- options.map((item, index) => `<div class="input-row"><input type="checkbox" id="${item.label}" name="${name}" value="${t(item.value)}">&nbsp;<label for="${item.label}">${t(item.label || item.value)}</label></div>`).join("\n") %>
  <div class="message-error error"></div>
</div>
<%
    break;
case "file": %>
<div class="input-row input-<%- type %> input-step" data-step="<%- step %>">
  <label for="form-<%- name %>" class="btn-p6 btn-p6-black form-file-select"><%- t(label) %></label>
  <span class="form-file-img"></span>
  <input class="form-file" type="file" name="<%- name %>" id="form-<%= name %>">
  <div class="message-error error"></div>
</div>
<%
    break;
case "hidden": %>
<input id="form-<%= name %>" type="<%- type %>" name="<%- name %>" value="<%- value %>">
<%
    break;
default: %>
<div class="input-row input-<%- type %> input-step" data-step="<%- step %>">
  <label for="form-<%- name %>">
    <input id="form-<%= name %>" autocomplete="off" type="<%- type %>" name="<%- name %>" placeholder=" ">
    <span class="label"><%- t(label) %></span>
  </label>
  <div class="message-error error"></div>
</div>
<%
}
%>